.app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user {
    display: flex;
    flex-direction: column;
    height: 150px;
    margin: 20px;
    align-items: center;
    object-fit: contain;
    width: 250px;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 6px;
}

.users {
    display: flex;
    flex-wrap: wrap;
}

.user h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}

.user-image {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.avatar-uploader {
    position: relative;
    left: 40%;
}

body {
    height: 100vh;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.ant-modal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}